        <div  *ngFor="let currentData of data.followUpIntent;let i = index">    
          <div class="someclass">
            <div>
            <i  class="pointer unselected" [class.selected]="currentData._id === selectedIntent" (click)="onClick(currentData);onSelect(currentData._id)"style="font-size: 0.5rem;"class="fas fa-minus fa-sm"></i>
            <a  class="pointer unselected" [class.selected]="currentData._id === selectedIntent" (click)="onClick(currentData);onSelect(currentData._id)">{{currentData.name}}</a> 
            <i *ngIf="!isHide[i]&&currentData.followUpIntent.length!=0"(click)="hideIntent(i)"class="fas fa-chevron-down" style="padding-left:10px"></i>
            <i *ngIf="isHide[i]&&currentData.followUpIntent.length!=0"(click)="hideIntent(i)" class="fas fa-chevron-right" style="padding-left:10px"></i>
            <button class="fas fa-plus" (click)="addFollowUpIntent(currentData)" ></button>
            <button class="fa fa-trash" (click)="deleteIntent(currentData)" ></button>
            </div>
              <app-recursion (clickEvent)="onClickChild($event)" (addEvent)="addFollowUpIntentChild($event)" 
              (deleteEvent)="deleteIntentChild($event)" *ngIf="isHide[i]" [selectedIntent]="selectedIntent"[isHideSingle]="isHide[i]"[data]="currentData"></app-recursion>
          </div>
        </div>

  