.flex{
    display: flex
}
.someclass { padding-left: 0px; }
.someclass .someclass { padding-left: 20px; }
.someclass .someclass .someclass{ padding-left: 20px; }
.someclass .someclass .someclass .someclass{ padding-left: 20px; }
a.selected,i.selected{
    color:red;
    div.pointer.selected{
        color:red;  
    }
}
.pointer {
    cursor: pointer;
    
}
div.unselected {
    color: #0488da;
}
a.selected:hover,i.selected:hover { 
    color:red ;
  }